/* contact card style */
.card-style{
    border: 3px solid skyblue;
    border-radius: 15px;
    background-color: rgb(234, 239, 241);
    transition: border-radius 1s;
}
/* contact card hover */
.card-style:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 30px;
    background-color: rgb(210, 240, 250);
    border: 3px solid rgb(70, 252, 237);
}