/* Header style */
.header {
  background-image: url("https://img.freepik.com/free-photo/stack-books-black-background_23-2147846050.jpg?size=626&ext=jpg"),
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(92, 148, 165, 0.5));
  height: 520px;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* title style */
.title-header{
  font-size: 40px;
}
/* button style */
.button {
  padding: 10px 40px;
  color: white;
}
/* header text style */
.header-text{
  border: 3px solid rgb(96, 209, 230);
  border-radius: 15px;
  width: 900px;
  transition: border-radius 1s;
}
.header-text:hover{
  border: 3px solid rgb(13, 238, 208);
  border-radius: 35px;
}
/* body background color */
body {
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(238, 248, 247));
  overflow: hidden;
}
html{
  overflow-x: hidden;
}

/* responsive for header */
@media only screen and (max-width: 600px) {
  .header {
    height: 720px;
    /* border-radius: 0px 0px 20px 20px; */
  }
  .header-text{
    width: 300px;
  }
}
