.items {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(236, 252, 248);
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
  }
  .items:hover {
    color: rgb(10, 199, 224);
  }
  